.grid-container {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 30px;
    place-items: center;
    text-align: center;
}

.flex-topbar {
    display: flex;
    align-items: center;
    margin-top: 15px;
    gap: 75px;
}

.home{
    text-decoration: none;
    color: black;

}

.product {
    text-decoration: none;
    color: black;
}

.support {
    text-decoration: none;
    color: black;
}

.flex-searchbar {
}

input {
    border-radius:  40px;
    width: 275px;
    height: 25px;
    text-align: center;
    background-image: url(../images/search-icon.png);
    background-position: 230px 50%;
    background-repeat: no-repeat;
    background-size: 15px 15px;
}

::placeholder {
    color: #000000;
    opacity: 0.7;
}

.flex-shopingcart a {
    color: black;
    text-decoration: none;
    padding: 0px 20px;
    font-size: 25px;
}

.flex-hearth a{
    color: black;
    text-decoration: none;
    padding: 0px 20px;
    font-size: 25px;
}

.flex-profile a {
    color: black;
    text-decoration: none;
    padding: 0px 20px;
    font-size: 25px;
}

.grid-item-1 {
    font-family: sans-serif;
}

.grid-item-1_5 {
    content: "";
    width: 75%;
    height: 1px;
    background-color: gray;
    display: block;
    margin-top: -20px;
}

h1{
    font-weight: normal;
    color: #000000;
    font-family: BrandonGrotesqueWeb-Thin, sans-serif;
    font-size: 700%;
}

.grid-item-3 {
    text-align: center;
}

.Online-Scheduling-Software {
    font-family: BrandonGrotesqueWeb-Thin, sans-serif;
    font-weight: lighter;
    font-size: 400%;
    text-shadow: 2px 2px 2px gray;

}

.grid-item-5 {
    font-family: sans-serif;
    font-size: 130%;
    grid-gap: 10px;
    width: 70%;
}

.grid-Buy-Price-Button-Online-Scheduling {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    place-items: center;
}

.Buy-Online-scheduling {
    color: #000000;
    font-family: sans-serif;
    font-size: 250%;
    margin: 5px 0;
    padding: 0;
}

.From-2000kr {
    color:#000000;
    font-family: sans-serif;
    margin: 5px 0;
    padding: 0;
}

.Add-To-Cart-Button-Online-Scheduling {
    width: 250px;
    background-color: #0067b8;
    color: #FFFFFF;
    font-size: 150%;
    padding: 5px 40px;
    border: none;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px #000000;
    font-family: BrandonGrotesqueWeb-Thin, sans-serif;
    transition: transform 0.1s;
}

.Add-To-Cart-Button-Online-Scheduling:active {
    transform: translate(2px, 2px);
    box-shadow: none;
}

.grid-item-7 {
    margin-top: 60px;
    content: "";
    width: 90%;
    height: 10px;
    background-color: gray;
    display: block;
}

.Proflex-BPA-Solutions {
    padding: 60px;
    font-family: BrandonGrotesqueWeb-Thin, sans-serif;
    font-weight: lighter;
    font-size: 400%;
    text-shadow: 2px 2px 2px gray;
}

.grid-item-10{
    text-align: center;
    font-family: sans-serif;
    font-size: 130%;
    grid-gap: 10px;
    width: 70%;
}

.grid-Buy-Price-Button-Proflex {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    place-items: center;
}

.Buy-Proflex-BPA-Solutions {
    color: #000000;
    font-family: sans-serif;
    font-size: 250%;
    margin: 5px 0;
    padding: 0;
}

.From-5000kr {
    color:#000000;
    font-family: sans-serif;
    margin: 5px 0;
    padding: 0;
}

.Add-To-Cart-Button-Proflex-BPA-Solutions {
    width: 250px;
    background-color: #0067b8;
    color: #FFFFFF;
    font-size: 150%;
    padding: 5px 40px;
    border: none;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px #000000;
    font-family: BrandonGrotesqueWeb-Thin, sans-serif;
    transition: transform 0.1s;
}

.Add-To-Cart-Button-Proflex-BPA-Solutions:active {
    transform: translate(2px, 2px);
    box-shadow: none;
}

.grid-item-12 {
    margin-top: 60px;
    content: "";
    width: 90%;
    height: 10px;
    background-color: gray;
    display: block;
}

.ProFlex-Tax-Solutions {
    padding: 60px;
    font-family: BrandonGrotesqueWeb-Thin, sans-serif;
    font-weight: lighter;
    font-size: 400%;
    text-shadow: 2px 2px 2px gray;
}

.grid-item-15 {
    text-align: center;
    font-family: sans-serif;
    font-size: 130%;
    grid-gap: 10px;
    width: 70%;
}

.grid-Buy-Price-Button-Proflex-Tax-Solution {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    place-items: center;
}

.Buy-Proflex-Tax-Solutions {
    color: #000000;
    font-family: sans-serif;
    font-size: 250%;
    margin: 5px 0;
    padding: 0;
}

.From-200kr {
    color:#000000;
    font-family: sans-serif;
    margin: 5px 0;
    padding: 0;
}

.Add-To-Cart-Button-Proflex-Tax-Solutions {
    width: 250px;
    background-color: #0067b8;
    color: #FFFFFF;
    font-size: 150%;
    padding: 5px 40px;
    border: none;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px #000000;
    font-family: BrandonGrotesqueWeb-Thin, sans-serif;
    transition: transform 0.1s;
}

.Add-To-Cart-Button-Proflex-Tax-Solutions:active {
    transform: translate(2px, 2px);
    box-shadow: none;
}

.grid-item-17 {
    margin-top: 60px;
    content: "";
    width: 90%;
    height: 10px;
    background-color: gray;
    display: block;
}

.ProFlex-Account-Solutions {
    padding: 60px;
    font-family: BrandonGrotesqueWeb-Thin, sans-serif;
    font-weight: lighter;
    font-size: 400%;
    text-shadow: 2px 2px 2px gray;
}

.grid-item-24 {
    text-align: center;
    font-family: sans-serif;
    font-size: 130%;
    grid-gap: 10px;
    width: 70%;
}

.grid-Buy-Price-Button-Proflex-Account-Solutions {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    place-items: center;
}

.Buy-Proflex-Account-Solutions {
    color: #000000;
    font-family: sans-serif;
    font-size: 250%;
    margin: 5px 0;
    padding: 0;
}

.From-500kr {
    color:#000000;
    font-family: sans-serif;
    margin: 5px 0;
    padding: 0;
}

body {
    background-color: #FFFFFF;
    overflow-scrolling: auto;
}

.Add-To-Cart-Button-Proflex-Account-Solutions {
    width: 250px;
    background-color: #0067b8;
    color: #FFFFFF;
    font-size: 150%;
    padding: 5px 40px;
    border: none;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px #000000;
    font-family: BrandonGrotesqueWeb-Thin, sans-serif;
    transition: transform 0.1s;
}

.Add-To-Cart-Button-Proflex-Account-Solutions:active {
    transform: translate(2px, 2px);
    box-shadow: none;
}

@font-face {
    font-family: "BrandonGrotesqueWeb-Thin";
    src: url("../fonts/Raleway-Thin.ttf")
}