/* Set rules */
*{
    font-family: Poppins;
    font-size: 62.5%; 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Structure of grid grid */
.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
}

/* Header structure */
header{
    color: black; /* Set default text color */
    align-items: center;
    background-color: white;
    box-shadow: 0rem 0.1rem 0rem 0rem grey; /* X-offset, 
                                        Y-offset, spread radius and color */
}

header #title{
    grid-column: 2 / span 2;
    font-size: 4rem;
    text-align: center;
}

header .option-nav{
    grid-column: 5 / span 4;
    text-align: center;
}

header .option-nav a{
    color: black;
    text-decoration: none;
    padding: 0rem 1rem; /* Top&bot, left&right */
    font-size: 2.5rem;
    display: inline;
}

header .option-nav #search-form{
    display: inline;
}

header .option-nav form #input-text{
    font-size: 1.8rem;
    border: 0.2rem solid black;
    width: 20rem;
}

header .option-nav form #submit-button{
    height: 4rem;
    width: 6rem;
    text-align: center;
}

header .icon-nav{
    grid-column: 10 / span 2;
    text-align: center;
}

header .icon-nav a{
    color: black;
    text-decoration: none;
    padding: 0px 2rem;
    font-size: 2.5rem;
}

/* Main structure */
main{
    margin: 60px auto; /* Margin from header to cards */
    padding: 30px;
    /* max-width: 1920px; */
}

main .cards{
    font-size: 3.5rem;
    grid-column: span 4;
    background: #FFF;
    color: black;
    border-radius: 6px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.30);
}

main .cards h2{
    margin-left: 20px;
    padding: 0px 0px 20px 0px;
}

main .ongoing-order-list p{
    display: inline;
    margin-left: 20px;
    padding: 0px 150px 0px 0px;
}

main .profile-detail-list p{
    margin-left: 20px;
    font-size: 2rem;
}

/* Search form */
#search{
    display: inline;
}

/* Search Input */
form input[type="text"] {
    background-color: white;
    border: none;
    padding: 8px 12px;
    margin-right: 10px;
    border-radius: 3px;
}

/* Search Button */
form button[type="submit"] {
    background-color: #0067B8;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

/* Footer structure */
footer{
    background-color: #0067B8;
}

footer h2{
    display: inline;
    grid-column: 6 / span 2;
    margin: 5px;
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
}

footer h3{
    display: inline;
    grid-column: 4 / span 6;
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
}

footer .footer-nav{
    grid-column: 5 / span 4;
    text-align: center;
}

footer .footer-nav a{
    margin: 0;
    padding: 0px 50px;
    color: white;
    font-size: 5rem;
}

footer .icon-nav{
    grid-column: 3 / span 8;
    text-align: center;
}

footer .icon-nav a{
    padding: 0px 50px;
    color: white;
    font-size: 25px;
    text-decoration: none;
}