body{
    font-family: Poppins;
    margin: 0;
}

/* Structure of main grid */
.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
}

header{
    color: white;
    align-items: center;
    background-color: #051622;
    padding: 30px 0px;
}

header #title{
    grid-column: 2 / span 3;
    font-size: 60px;
    margin: 5px;
}

header .option-nav{
    grid-column: span 5;
    /* justify-self: end; */
}

header .option-nav a{
    color: white;
    text-decoration: none;
    padding: 0px 20px;
    font-size: 20px;
}

header .icon-nav a{
    grid-column: 10 / span 12;
    color: white;
    text-decoration: none;
    padding: 0px 10px;
    font-size: 20px;
}

main{
    margin: 60px auto;
    padding: 20px;
    max-width: 1920px;
}

main #myprofile{
    grid-column: span 12;
}

main .cards{
    padding: 10px 20px;
    font-size: 20px;
    grid-column: span 4;
    background: #FFF;
    color: black;
    border-radius: 6px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.20);
}


main .list li{

    display: inline;
}










