.footer-flex-container{
    background-color: #0067B8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
}

.icon-nav{
    text-align: center;
    display: inline;
    margin-top: 1.5rem;
    padding-top: 2rem;
}

.icon-nav a{
    display: inline;
    text-decoration: none;
    color: white;
    font-size: 2rem;
    text-align: center;
    padding: 0rem 2rem;
    margin-top: 2rem;
}

.footer-description{
    text-align: center;
    display: inline;
    color: white;
    font-weight: 300;
    font-size: 1.4rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-top: 1rem;
}