.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    font-size: 9rem;
    border-bottom: 1px solid;
    border-bottom-color: gray;
}

.navigation a {
    text-decoration: none;
    color: black;
}

.navigation img {
    height: 5rem;
    width: 15rem;
    margin: auto;
}

.ul2{
    width: 50rem;
    margin: auto;
    vertical-align: middle;
    text-align: right;
}

.ul3{
    width: 50rem;
    margin: auto;
    text-align: left;
}

.ul1 {
    margin: auto;
    vertical-align: middle;
}

.ul1 li {
    list-style: none;
    display: inline-block;
    padding: 1rem;
}


.ul2 li {
    list-style: none;
    display: inline-block;
    padding: 1rem;
    vertical-align: middle;
}

.ul1 li::after {
    content: "";
    width: 0;
    height: 2px;
    background: #111;
    display: block;
    transition: 0.5s;
}

.ul1 li:hover::after {
    width: 100%;
}

#search {
    font-size: 1.3rem;
    border-radius: 40px;
    text-indent: 1rem;
    height: 2.5rem;
}