@import "../global.css";

.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.3s ease;
    background-color: var(--color-white);
    color: var(--main-color-black);
}

.navigation {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    font-size: 7rem;
}

.navigation a {
    text-decoration: none;
    color: var(--main-color-black);
}

.navigation img {
    height: 5rem;
    width: 15rem;
    margin: auto;
}

.ul3{
    width: 50rem;
    flex-grow: 1;
    text-align: left;
}

.ul1 {
    margin: auto;
    vertical-align: middle;
    text-align: center;
    flex-grow: 1;
}

.ul1 li {
    list-style: none;
    display: inline-block;
    padding: 1rem;
    text-align: center;
}

.ul1 li::after {
    content: "";
    width: 0;
    height: 2px;
    background: #111;
    display: block;
    transition: 0.5s;
}

.ul1 li:hover::after {
    width: 100%;
}

.ul2 {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: right;
    flex-grow: 1;
    width: 50rem;
}

.search-container{
    background: #f5f5f5;
    border-radius: 30px;
    height: 4rem;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.8s;
}

.search-container:focus-within > .search-input{
    width: 15rem;
    padding-left: 2rem;
}

.search-container .search-input{
    background: transparent;
    border: none;
    outline:none;
    width: 0px;
    font-weight: 500;
    font-size: 16px;
    transition: 0.8s;

}

.search-container .search-btn{
    padding: 0;
    border: none;
    background: none;
    font-size: 2rem;
}

.search-container .search-btn .fas{
    color: var(--main-color-black);
    text-decoration: none;
    
}

#shoppingcart-felx-box {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    font-size: 2.5rem;
    font-family: Roboto, sans-serif;
}

#shoppingcart-felx-box p {
    margin-right: 1rem;
    margin-top: 1rem;
}

#shoppingcart-felx-box p:hover {
    text-decoration: 2px underline #1d1d1f;
}

#shoppingcart-felx-box span {
    margin-top: 0.6rem;
}


#login-flex-box {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    font-size: 2.5rem;
    font-family: Roboto, sans-serif;
}

#login-flex-box p {
    margin-right: 1rem;
    margin-top: 1rem;
}

#login-flex-box p:hover {
    text-decoration: 2px underline #1d1d1f;
}

#login-flex-box span {
    margin-top: 0.6rem;
}

#search {
    font-size: 1.3rem;
    border-radius: 40px;
    text-indent: 1rem;
    height: 2.5rem;
}


.dropbtn {
    background-color: var(--color-white);
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--color-white);
    min-width: 13rem;
    box-shadow: 0 1rem 2rem 0 rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: var(--button-border-radius);
    right: 0;
}


.dropdown-divider {
    border: 1px solid #a1a1a1;
}

.dropdown-content a {
    color: #1d1d1f;
    padding: 1.2rem 2.4rem;
    text-decoration: none;
    display: block;
    font-size: 1.5rem;
}

.dropdown-content a:hover {
    background-color: #ebebeb;
    border-radius: var(--button-border-radius);
}

.dropdown:hover .dropdown-content {
    display: block;
}





@media (max-width: 1400px) and (min-width: 1201px){
    .ul3{
        width: 40rem;
    }

    .ul2{
        width: 40rem;
    }
}

@media (max-width: 1200px) and (min-width: 993px){
    .ul3{
        display: none;
    }

    .ul1{
        width: auto;
    }

    .ul2{
        width: auto;
    }
}

@media (max-width: 992px) and (min-width: 769px){
    .ul3{
        display: none;
    }

    .ul1{
        width: auto;
    }

    .ul2{
        width: auto;
    }
}

@media (max-width: 768px) and (min-width: 481px){
    .ul3{
        display: none;
    }

    .ul1{
        width: auto;
    }

    .ul2{
        width: auto;
    }

    .ul2 #shoppingcart-felx-box p{
        display: none;
    }

    .ul2 #login-flex-box p{
        display: none;
    }

    .ul2 .search-container{
        display: none;
    }
}

@media (max-width: 480px) and (min-width: 429px){
    .ul3{
        display: none;
    }

    .ul2{
        width: auto;
    }

    .ul1{
        width: auto;
    }

    .ul2 #shoppingcart-felx-box p{
        display: none;
    }

    .ul2 #login-flex-box p{
        display: none;
    }

    .ul2 .search-container{
        display: none;
    }
}

@media (max-width: 428px){
    .navigation{
        font-size: 6rem;
        padding: 1rem;
    }

    .ul3{
        display: none;
    }

    .ul2{
        width: auto;
    }

    .ul1{
        width: auto;
    }

    .ul1 li {
        padding: 0.5rem;
    }

    .ul2 #shoppingcart-felx-box p{
        display: none;
    }

    .ul2 #login-flex-box p{
        display: none;
    }

    .ul2 .search-container{
        display: none;
    }
}