.navigation {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    font-size: 7rem;
    border-bottom: 1px solid;
    border-bottom-color: gray;
}

.navigation a {
    text-decoration: none;
    color: black;
}

.navigation img {
    height: 5rem;
    width: 15rem;
    margin: auto;
}

.ul3{
    width: 50rem;
    flex-grow: 1;
    text-align: center;
}

.ul1 {
    margin: auto;
    vertical-align: middle;
    text-align: center;
    flex-grow: 1;
}

.ul1 li {
    list-style: none;
    display: inline-block;
    padding: 1rem;
    text-align: center;
}

.ul1 li::after {
    content: "";
    width: 0;
    height: 2px;
    background: #111;
    display: block;
    transition: 0.5s;
}

.ul1 li:hover::after {
    width: 100%;
}

.ul2 {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    flex-grow: 1;
    width: 50rem;
}

.search-container{
    border: 1px solid gray;
    background: #fff;
    height: 30px;
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.8s;
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
    -4px -4px 6px 0 rgba(116, 125, 136, .2),
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

.search-container:focus-within > .search-input{
    width: 15rem;
}

.search-container .search-input{
    background: transparent;
    border: none;
    outline:none;
    width: 0px;
    font-weight: 500;
    font-size: 16px;
    transition: 0.8s;

}

.search-container .search-btn .fas{
    color: #000000;
    text-decoration: none;
}

#shoppingcart-felx-box {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    font-size: 2.5rem;
    font-family: Roboto, sans-serif;
}

#shoppingcart-felx-box p {
    margin-right: 1rem;
    margin-top: 1rem;
}

#shoppingcart-felx-box p:hover {
    text-decoration: 2px underline #1d1d1f;
}

#shoppingcart-felx-box span {
    margin-top: 0.6rem;
}


#login-flex-box {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    font-size: 2.5rem;
    font-family: Roboto, sans-serif;
}

#login-flex-box p {
    margin-right: 1rem;
    margin-top: 1rem;
}

#login-flex-box p:hover {
    text-decoration: 2px underline #1d1d1f;
}

#login-flex-box span {
    margin-top: 0.6rem;
}

#search {
    font-size: 1.3rem;
    border-radius: 40px;
    text-indent: 1rem;
    height: 2.5rem;
}


@media (max-width: 1400px) and (min-width: 1201px){
    .ul3{
        width: 40rem;
    }

    .ul2{
        width: 40rem;
    }
}

@media (max-width: 1200px) and (min-width: 993px){
    .ul3{
        display: none;
    }

    .ul1{
        width: auto;
    }

    .ul2{
        width: auto;
    }
}

@media (max-width: 992px) and (min-width: 769px){
    .ul3{
        display: none;
    }

    .ul1{
        width: auto;
    }

    .ul2{
        width: auto;
    }
}

@media (max-width: 768px) and (min-width: 481px){
    .ul3{
        display: none;
    }

    .ul1{
        width: auto;
    }

    .ul2{
        width: auto;
    }

    .ul2 #shoppingcart-felx-box p{
        display: none;
    }

    .ul2 #login-flex-box p{
        display: none;
    }

    .ul2 .search-container{
        display: none;
    }
}

@media (max-width: 480px) and (min-width: 419px){
    .ul3{
        display: none;
    }

    .ul2{
        width: auto;
    }

    .ul1{
        width: auto;
    }

    .ul2 #shoppingcart-felx-box p{
        display: none;
    }

    .ul2 #login-flex-box p{
        display: none;
    }

    .ul2 .search-container{
        display: none;
    }
}

@media (max-width: 418px){
    .navigation{
        font-size: 4rem;
        padding: 1rem;
    }

    .ul3{
        display: none;
    }

    .ul2{
        width: auto;
    }

    .ul1{
        width: auto;
    }

    .ul2 #shoppingcart-felx-box p{
        display: none;
    }

    .ul2 #login-flex-box p{
        display: none;
    }

    .ul2 .search-container{
        display: none;
    }
}