@import "../global.css";

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
}

.order-card-flex {
    display: flex;
    flex-direction: column;
}

.Order-titles-flex {
    display: flex;
    flex-direction: row;
    font-size: 3rem;
    font-weight: bold;
    gap: 10rem;
    color: var(--main-color-black);
}

.order-info-flex {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    font-size: 3rem;
    gap: 6rem;
}

.order-column h3 {
    font-size: 1.5rem;
    color: var(--main-color-black);
    font-weight: bold;
    padding-bottom: 1rem;
}

.order-column p {
    font-size: 1.5rem;
    color: var(--main-color-black);
    padding-bottom: 1rem;
}

.order-divider {
    margin-top: 3rem;
    height: 0.2rem;
    background-color: var(--main-color-black);
    margin-bottom: 3rem;
}

.order-product-list {
    list-style: none;
    font-size: 4rem;
}

@media (max-width: 630px) {
    .order-info-flex {
        flex-direction: column;
        gap: 0;
    }
}