* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
}

.products-description {
    font-size: 1.5rem;
    min-height: 20rem;
}


#Product-Title {
    text-align: center;
    font-weight: normal;
    font-family: Poppins, sans-serif;
    font-size: 10rem;
    margin-top: 10rem;
    margin-bottom: 7rem;
    color: #1d1d1f;
}

#Products-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 3rem;
    margin-bottom: 3rem;
}

#Products-flex-container a {
    text-decoration: none;
    color: #6e6e73;
    padding-right: 3rem;
}

#Products-flex-container p {
    color: #1d1d1f;
    padding-right: 3rem;
}


#Products-flex-container a:hover {
    text-decoration: none;
    color: #989898;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.product-section {
    background-color: white;
    border-radius: 25px;
    box-shadow: 0.2rem 0.2rem 1rem 0.2rem #cbcbcb;
    transition: transform 0.3s ease-out;
    height: 40rem;
    width: 49rem;
    padding-top: 4rem;
}

.product-section:hover {
    transform: scale(1.02);
    content: "Test";
}

.product-card{
    padding: 4rem;
    max-width: 75rem;
}

#Product-Title {
    text-align: center;
    font-weight: normal;
    font-family: Poppins, sans-serif;
    font-size: 10rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.card-img{
    border-radius: 25px;
    margin-top: 2rem;
}

.product-name {
    font-size: 3rem;
    font-family: Poppins, sans-serif;
    font-weight: Bold;
    width: 100%;
    text-align: center;
    color: #1d1d1f;
}

.bottom-flex {
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
}

.products-price {
    font-family: Poppins, sans-serif;
    font-weight: lighter;
    font-size: 1.5rem;
    color: #1d1d1f;
    margin-left: 17rem;
    margin-top: 1rem;
}

.button-buy {
    width: 60px;
    height: 35px;
    background-color: #0067b8;
    color: #FFFFFF;
    border: none;
    border-radius: 70px;
    font-family: Poppins, sans-serif;
    font-size: 1.7rem;
    margin-left: 3rem;
}

.product-learn-more {
    font-size: 1.5rem;
    text-decoration: none;
    color: #0067b8;
    display: block;
    margin-top: 1.5rem;
}