@import "../global.css";

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
}

.product-cart-container {
    margin: 2rem;
}

#title {
    font-size: 10rem;
    margin-top: 15rem;
    margin-left: 10rem;
    font-weight: lighter;
}

.product-cart-card-section {
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,1fr);
    text-align: center;
}

#card-img {
    grid-column: 1;
    grid-row: 1/span 2;
    justify-self: center;
}

#shopping-cart-card-name {
    grid-column: 2;
    grid-row: 1;
    font-size: 2.5rem;
    font-weight: normal;
}

#description {
    grid-column: 2;
    grid-row: 2;
    font-size: 1.5rem;
}

#quantity {
    grid-column: 3;
    grid-row: 1;
    font-size: 1.5rem;
    font-weight: bold;
}

#Quantity-flex {
    grid-column: 3;
    grid-row: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
}

#Quantity-flex p{
    font-size: 2rem;
    margin-top: 0.7rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

#quantityButtonPlus {
    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
  
}

#quantityButtonMinus {
    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #ebebeb;
    border: none;
    cursor: pointer;
}

#price {
    grid-column: 4;
    grid-row: 1;
    font-size: 1.5rem;
    font-weight: bold;
}

.priceNumber {
    grid-column: 4;
    grid-row: 2;
    font-size: 1.5rem;
}

#Remove {
    grid-column: 5;
    grid-row: 1;
    font-size: 1.5rem;
    font-weight: bold;
}

#remove-button-box {
    grid-column: 5;
    grid-row: 2;
    align-self: start;
}

#remove-product-button {
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #ebebeb;
    border: none;
    cursor: pointer;
}

#divider {
    margin-top: 3rem;
    height: 0.2rem;
    background-color: var(--main-color-black);
    width: 100%;
}

#total-price {
    font-size: 2rem;
    text-align: end;
    margin-right: 10rem;
    margin-top: 10rem;
}

#button-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 5rem;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 5rem;
}

#keep-shopping-button {
    color: white;
    background-color: var(--hero-section-color-blue);
    border: none;
    border-radius: 5px;
    width: 30rem;
    height: 7rem;
}

#keep-shopping-button:hover {
    background-color: var(--button-blue-hover);
}

#pay-button {
    color: white;
    background-color: var(--button-black);
    border: none;
    border-radius: 5px;
    width: 30rem;
    height: 7rem;
}

#pay-button:hover {
    background-color: var(--button-black-hover);
}

footer {
    margin-top: 10rem;
}

@media (max-width: 850px) {
    product-cart-card-section {
        grid-template-columns: repeat(2, 1fr); /* Update the number of columns */
        grid-template-rows: auto; /* Remove the repeat() function */
        gap: 2rem; /* Add some gap between the cards */
        text-align: center;
    }

    #Quantity-flex {
        grid-column: 2;
        grid-row: 2;
        align-self: center;
    }

    .priceNumber {
        grid-row: 1;
        align-self: center;
    }

    #remove-button-box {
        grid-column: 4;
        align-self: center;
    }
    
    #button-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #description, #quantity, #price, #Remove {
        display: none;
    }

    #keep-shopping-button {
        margin-bottom: 5rem;
    }
    #total-price {
        text-align: center;
    }
}