* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
}

.index-product-card-flex-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 40rem;
}

.product-card-section {
    background-color: white;
    width: 65rem;
    height: 50rem;
    padding: 3rem;
    box-shadow: 0.1rem 0.1rem 1rem 0.1rem #cbcbcb;
}

.index-product-card-image {
    width: 200px;
    height: 200px;
  }
  



.index-nav-product {
    text-decoration: none;
    color: #43484D;
}

.index-product-card-new-container {
    width: 7rem;/* set the desired width */
    text-align: center; /* center the content inside the container */
}

.index-product-card-image {
    margin-left: 20rem;
}

.index-product-card-new-box {
    font-size: 3rem;
    margin-top: 2rem;
    background-color: #ffb900;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.index-product-card-white-container {
    font-size: 3rem;
    margin-top: 2rem;
    background-color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: white;
}

.index-product-card-name {
    font-size: 3rem;
    margin-top: 2rem;
}

.index-product-card-short-description {
    font-size: 1.8rem;
    max-width: 60rem;
    margin-top: 2rem;
    line-height: 2.5rem;
}

.index-product-card-learn-more-flex {
    display: flex;
    flex-direction: row;
    font-size: 3rem;
    gap: 1rem;
    transition: gap 0.2s ease-in-out;
    color: #0067B8;
}

.price {
    margin-left: 35rem;
    color: #1d1d1f;
}

.index-product-card-learn-more-flex:hover{
    text-decoration: underline;
    gap: 1.4rem;
}

.index-product-card-learn-more-flex p {
    margin-top: 2rem;
}

.index-product-card-learn-more-flex div {
    font-size: 2.5rem;
    margin-top: 1.4rem;
}

#Product-Title {
    text-align: center;
    font-weight: normal;
    font-family: Poppins, sans-serif;
    font-size: 10rem;
    margin-top: 10rem;
    margin-bottom: 7rem;
    color: #1d1d1f;
}

#Products-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 3rem;
    margin-bottom: 3rem;
}

#Products-flex-container a {
    text-decoration: none;
    color: #6e6e73;
    padding-right: 3rem;
}

#Products-flex-container p {
    color: #1d1d1f;
    padding-right: 3rem;
}


#Products-flex-container a:hover {
    text-decoration: none;
    color: #989898;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;
}


@media screen and (max-width: 1400px) and (min-width: 701px) {
    .index-product-card-flex-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 700px) {
    .product-card-section {
        width: 35rem;
        height: 57rem;
        padding: 3rem;
    }

    .index-product-card-flex-container {
        flex-direction: column;
        margin-bottom: 5rem;
        gap: 5rem;
    }

    .index-product-card-image {
        margin-left: 100px;
        margin-top: 40px;
        width: 100px;
        height: 100px;
      }
    
      .price {
        margin-left: 10rem;
      }

      .fa-solid {
        font-size: 6rem;
      }

      p {
        margin-left: 0;
      }
}