body {
    margin: 0;
    padding: 0;
}

 #header-flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px #c5c5c5;
}

#header-flex-container img {
    margin-left: 1rem;
}

#nav-text {
    list-style: none;
    margin-left: 14rem;
}

#nav-text li {
    display: inline-block;
    margin-left: 1.7rem;
}

#nav-text li a {
    text-decoration: none;
    color: black;
    position: relative;
    font-family: Poppins, sans-serif;

}

#nav-text li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    transform: scaleX(0);
}

#nav-text li a:hover::after {
    transform: scalex(1);
    transform-origin: bottom left;
}


#nav-icons {
    list-style: none;
}

#nav-icons li {
    display: inline-block;
}

.search-bar {
    border: 2px solid black;
    display: flex;
    border-radius: 35px;
    height: 2rem;
}

.search-bar__input {
    flex-grow: 1;
    font-size: 1rem;
    padding: 0 1rem;
    border: none;
    background: transparent;
}

.search-bar__input:focus {
    outline: none;
}

.search-bar:focus-within {
    width: 200rem;
}

.search-button {
    font-size: 1rem;
    cursor: pointer;
    border: none;
    background: transparent;
    border-radius: 50rem;
}

#nav-icons li a {
    text-decoration: none;
    color: black;
    font-size: 1.7rem;
    margin: 1rem;
}

h1 {
    text-align: center;
    font-weight: normal;
    collapse: #000000;
    font-family: Poppins, sans-serif;
    font-size: 7rem;
    margin-top: 7rem;
    margin-bottom: 10rem;
}

#products-flex-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#products-list {
    list-style: none;
}

#products-list li {
    display: inline-block;
    margin: 0 4.5rem 10rem 4.5rem;
}

h4 {
    font-family: Poppins, sans-serif;
    font-weight: Bold;
    font-size: 180%;
}

.categories {
    font-family: Poppins, sans-serif;
    font-weight: lighter;
    font-size: 120%;
}

.products-price {
    font-family: Poppins, sans-serif;
    font-weight: lighter;
    font-size: 80%;
}

.button-buy-products {
    width: 60px;
    height: 30px;
    background-color: #0067b8;
    color: #FFFFFF;
    font-size: 100%;
    border: none;
    border-radius: 70px;
    font-family: Poppins, sans-serif;
    margin-bottom: 0.7rem;
}

.learn-more-products {
    text-decoration: none;
    color: #0067b8;
    margin-bottom: 1rem;
}

#products-flex-container {
    display: flex;
}

#footer-grid-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(5,0.5fr);
    grid-template-areas:
    "ein ein ein"
    "to to to"
    "tre tre tre"
    "fire fem seks"
    "syv syv syv";
    text-align: center;
    background-color: #0067B8;
}

.ein {
    grid-area: ein;
    font-family: Poppins ,sans-serif;
    color: white;
    font-size: 3rem;
    font-weight: bold;
}
.to {
    grid-area: to;
}

.to a {
    text-decoration: none;
    color: white;
    font-size: 4rem;
    margin: 5rem;
}
.tre {
    grid-area: tre;
    font-size: 2rem;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    color: white;
}

.fire {
    grid-area: fire;
    font-family: Poppins, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 15rem;
}
.fem {
    grid-area: fem;
    font-family: Poppins, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}
.seks {
    grid-area: seks;
    font-family: Poppins, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    display: inline-block;
    overflow: hidden;
    margin-right: 15rem;
}
.syv {
    grid-area: syv;
    font-size: 1.5rem;
    font-family: Poppins,sans-serif;
    color: white;
    max-width: 70%;
    margin-left: 20rem;
}