/* Set rules */
*{
    font-family: Poppins;
    font-size: 62.5%; 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Structure of grid */
.grid-container{
    margin: auto;
    margin-top: 2rem;
    padding: 2rem 0rem 1.2rem 0rem;
    color: white;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    gap: 1rem;
    max-width: 210rem;
    /* background-color: lightgray; */
    box-shadow: 0 1px 3px rgb(0 0 0 / 25%);
}

/* Set title for header */
#header-title{
    grid-column: 2 / span 3;
    font-size: 4rem;
    text-align: center;
    color: black;
}

header .option-nav{
    grid-column: 5 / span 4;
    text-align: center;
    padding-top: 1.1rem;
}

header .option-nav a{
    color: black;
    text-decoration: none;
    padding: 0rem 1rem; /* Top&bot, left&right */
    font-size: 2.5rem;
    display: inline;
}

header .option-nav #search-form{
    display: inline;
}

header .option-nav form #input-text{
    padding: 0;
    font-size: 1.8rem;
    border: 0.2rem solid #0067b8;
    border-radius: 1rem;
    width: auto;
}

header .option-nav form #submit-button{
    padding: 0;
    height: 4rem;
    width: 6rem;
}

#submit-button:hover{
    background-color: rgb(172, 85, 85);
}

header .icon-nav{
    grid-column: 9 / span 3;
    text-align: center;
    padding-top: 1.1rem;
}

header .icon-nav a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0px 2rem;
    font-size: 2.8rem;
}


/* Flexbox container main structure */
.flexbox-container{
    margin: 5rem 0rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Flexbox container + item */
.flexbox-container .cards{
    padding: 1.5rem 3rem 1.5rem 3rem; /* TOP RIGHT BOTTOM LEFT */
    margin: 3rem 6rem 3rem 6rem;
    flex: initial;
    background: #FFF;
    color: rgb(0, 0, 0);
    border-radius: 6px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.30);
}

.flexbox-container .cards .title{
    font-size: 2.5rem;
}

#ongoing-orders-nav{
    font-size: 3rem;
    list-style: none;
    align-self: center; /* ? funker? */
    
}

#ongoing-orders-nav li{
    display: inline;
    margin-right: 3rem;  
}

#details-nav{
    font-size: 3rem;
    list-style: none;
}

#details-nav li{
    padding-bottom: 1.5rem;
}

#details-nav #username{
    padding-top: 1rem;
}




/* Search form */
#search{
    display: inline;
}

/* Search Input */
form input[type="text"] {
    background-color: white;
    border: none;
    padding: 8px 12px;
    margin-right: 10px;
    border-radius: 3px;
}

/* Search Button */
form button[type="submit"] {
    background-color: #0067B8;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

/* Footer structure */
footer{
    background-color: #0067B8;
}

footer h2{
    display: inline;
    grid-column: 6 / span 2;
    margin: 5px;
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
}

footer h3{
    display: inline;
    grid-column: 4 / span 6;
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
}

footer .footer-nav{
    grid-column: 5 / span 4;
    text-align: center;
}

footer .icon-nav{
    grid-column: 3 / span 8;
    text-align: center;
}

footer .icon-nav a{
    padding: 0px 50px;
    color: white;
    font-size: 25px;
    text-decoration: none;
}

.grid-container .icon-nav-bottom{
    grid-column: 5 / span 4;
    text-align: center;
}

.grid-container .icon-nav-bottom a{
    padding: 0rem 4rem;
    margin: 0rem 1.5rem;
    font-size: 4rem;
    color: #ffffff;
    background-color: grey;
    border-radius: 3rem;
    box-shadow: none;
}

/* ??? */
@media (max-width: 30rem) {
    .flexbox-container{
        flex-direction: column;
        align-items: center;
    }
}