<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/Login.css">
    <script src="https://kit.fontawesome.com/0a8856d0a6.js" crossorigin="anonymous"></script>
</head>
<body>
<main>
    <div id="login-flex-container">
        <section id="section">
            <div id="top-flex">
                <img id="logo-image" src="../static/images/proflexlogo.png">
                <i id="back-icon" class="fa-solid fa-angle-right"></i>
            </div>
            <h1>Login</h1>
            <ul id="username-list">
                <li class="icons"><i class="fa-solid fa-user"></i></li>
                <li class="loging-text">Username:</li>
                <li><input type="text" class="text-bar"></li>
            </ul>
            <div class="line"></div>
            <ul id="password-list">
                <li class="icons"><i class="fa-sharp fa-solid fa-key"></i></li>
                <li class="loging-text">Password:</li>
                <li><input type="text" class="text-bar"></li>
            </ul>
            <div class="line"></div>
            <button id="button1">Login</button>
            <nav><a href="#">Forgot Your Password. Click Here To Reset</a></nav>
            <button id="button2">Register New Account</button>
        </section>
    </div>
</main>

</body>
</html>