<!DOCTYPE html>
<html xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="../static/About.css" />
</head>
<body>
  <header th:replace="fragments/header.html :: header"></header>
  <main>
    <div id="flex-grid">
      <h1>Hi, we are ProFlex.</h1>
        <p>ProFlex is a leading provider of IT solutions that help businesses of all sizes enhance their operational
          efficiency and productivity. The company offers a comprehensive suite of software solutions designed to address
          the unique needs of various industries, including tax, finance, planning, scheduling and more. With years of
          experience and a team of highly skilled professionals, ProFlex has a proven track record of delivering i
          nnovative and reliable IT solutions that enable organizations to stay ahead of the competition. Whether you are
          looking to streamline your workflows, reduce costs, or improve customer satisfaction, ProFlex has the expertise
          and technology to help you achieve your goals.</p>
      <img src="../static/images/proflexlogo.png">
    </div>
  </main>
  <footer th:replace="fragments/footer.html :: footer"></footer>
</body>
</html>