<footer class="footer-flex-container">
    <nav class="icon-nav">
        <a href="#"><i class="fa-solid fa-phone"></i> +47 99 99 99 99</a>
        <a href="#"><i class="fa-solid fa-envelope"></i> email@proflex.com</a>
        <a href="#"><i class="fa-solid fa-location-pin"></i> Larsgårdsvegen 2, 6003 Ålesund </a>
    </nav>
    <p class="footer-description">*This website is a result of a university group project,
        performed in the course IDATA2301 Web technologies,
        at NTNU. All the information provided here is a result of imagination.
        Any resemblance with real companies or products is a coincidence.
    </p>
</footer>