<header class="grid-container" th:fragment="header">
    <h1 id="header-title">ProFlex</h1>

    <nav class="text-nav">
        <a class="text" href="#">HOME</a>
        <a class="text" href="#">PRODUCTS</a>
        <a class="text" href="#">ABOUT</a>
    </nav>

    <nav class="icon-nav">
        <p>Search</p>
        <form id="search-form">
            <input id="input-text"type="text" />
        </form>
        <a href="#"><i class="fa-solid fa-cart-flatbed"></i></a>
        <a href="#"><i class="fa-regular fa-heart"></i></a>
        <a href="#"><i class="fa-regular fa-user"></i></a>
    </nav>
</header>