<header class="header" th:fragment="header">
    <nav class="navigation">
        <div class="ul3">
            <img class="logo" src="../../static/images/proflexlogo2.png" alt="Logo">
        </div>
        <ul class="ul1">
            <li><a href="/">HOME</a></li>
            <li><a href="/products">PRODUCTS</a></li>
            <li><a href="/about">ABOUT</a></li>
        </ul>
        <ul class="ul2">
            <li>
                <form>
                    <input id="search" type="search" pattern=".*\S.*" required placeholder="search..." />
                    <span class="caret"></span>
                </form>
            </li>
            <li><a href="ShoppingCart.html"><span class="material-symbols-outlined">shopping_cart</span></a></li>
            <li><a href="Profile"><span class="material-symbols-outlined">account_circle</span></a></li>
        </ul>
    </nav>
</header>