<main class="flex-container" th:fragment="product-card">
    <div class="product-card" th:each="products: ${products}">
        <nav>
            <a class="navigate-to-product" th:href="@{/products/{id}(id=${products.pid})}">
                <section class="product-section">
                    <h4 class="product-name" th:text="${products.name}"></h4>
                    <img class="card-img" th:src="${products.image}" width="300" height="200"/>
                    <p class="product-short-description" th:text="${products.shortDescription}"></p>
                    <div class="bottom-flex">
                        <p class="products-price" th:text="'Get product for ' + ${products.price} + ${valuta} + '*'"></p>
                        <button class="button-buy">Buy</button> <!-- TODO MAKE REDIRECT TO {ID} ENDPOINT -->
                    </div>
                </section>
            </a>
        </nav>
    </div>
</main>