<main class="flex-container" th:fragment="product-card">
    <div class="product-card" th:each="products: ${products}">
        <h4 class="product-name" th:text="${products.name}"></h4>
        <p class="product-category"></p>
        <p class="products-price" th:text="${products.price}">kr</p>
        <p class="products-description" th:text="${products.description}"></p>
        <a class="products-buy">Buy</a> <!-- TOOD MAKE REDIRECT TO {ID} ENDPOINT -->S
        <a class="product-learn-more">Learn more</a>
    </div>
</main>