<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div id="products-flex-container">
    <div class="product" th:each="product: ${products}"></div>
      <ul id="products-list">
        <li>
          <img>
          <h2 th:text="${product.name}"></h2>
          <p class="categories">For planning and scheduling</p>
          <p class="products-price" th:text="${product.price}"></p>
          <button class="button-buy-products">buy</button>
          <nav><a class="learn-more-products">Learn more</a></nav>
          <div class="grey-line"></div>
        </li>
      </ul>
  </div>
</body>
</html>