<section class="testimonials" th:fragment="testimonials">

    <h2 class="testimonials-title">What our customers say</h2>

    <div class="testimonials-card">
        <img class="testimonials-firm-picture" src="/static/images/google.png"
        style="padding-left: 4rem; padding-top: 2rem;">
        <h3 class="testimonials-description">
            "Proflex Solutions has enabled us to streamline our operations and
            save time. Their products are easy to use and their customer service
            is top-notch."</h3>
        <div class="testimonials-partner-wrapper">
            <img class=testimonials-picture src="/static/images/testimonials1.jpg">
            <h3 class="testimonials-header">Stephanie Smith</h3>
            <h3 class="testimonials-position">Senior partner, Google</h3>
        </div>
    </div>



    <div class="testimonials-card">
        <img class="testimonials-firm-picture" src="/static/images/netflix.png">
        <h3 class="testimonials-description">
            "We were looking for a reliable and cost-effective solution to our
            business needs and Proflex Solutions delivered."</h3>
        <div class="testimonials-partner-wrapper">
            <img class="testimonials-picture" src="/static/images/testimonials2.jpg">
            <h3 class="testimonials-header">Jason White</h3>
            <h3 class="testimonials-position">CEO, Netflix</h3>
        </div>



    </div>
    <div class="testimonials-card">
        <img class="testimonials-firm-picture" src="/static/images/microsoft.png"
        style="padding-top: 0rem">
        <h3 class="testimonials-description">
            "Proflex Solutions has been a great partner for our business. They
            have provided us with the tools and resources we need to succeed.
            Their products are reliable and their customer service is top-notch."</h3>
        <div class="testimonials-partner-wrapper">
            <img class="testimonials-picture" src="/static/images/testimonials3.jpg">
            <h3 class="testimonials-header">Rachel Brown</h3>
            <h3 class="testimonials-position">Marketing, Microsoft</h3>
        </div>
    </div>
</section>