@import "global.css";

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color-grey);
    color: var(--main-color-black);
}

.admin-page-flex {
    display: flex;
    flex-direction: row;
    margin-top: 15rem;
    margin-bottom: 10rem;
    justify-content: center;
    gap: 10rem;
    color: var(--main-color-black);
}

.admin-page-flex h3{
    font-size: var(--h3-font-size);
    margin-bottom: 2rem;
}

@media (max-width: 900px) {
    .admin-page-flex {
        flex-direction: column;
        align-items: center;
        margin-top: 10rem;
        padding: 2rem;
    }
}


.change-role-user-flex {
    display: flex;
    flex-direction: column;
    font-size: 5rem;
    gap: 2rem;
}

.admin-button {
    background-color: var(--button-blue);
    color: var(--color-white);
    padding: 0.5rem 1rem;
    font-size: 1.6rem;
    border: none;
    border-radius: var(--button-border-radius);
    cursor: pointer;
    width: 20rem;
}

.create-product-section {
    display: flex;
    flex-direction: column;
    font-size: 5rem;
    gap: 3rem;
}

.change-product-parm-flex {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: flex-end;
}

.change-product-parm-flex input {
    margin-left: auto;
}

.save-change-product:hover {
    background-color: var(--button-blue-hover);
}

.save-change-product:active {
    transform: scale(0.98);
}

h2 {
    margin-top: 20rem;
    text-align: center;
    font-size: var(--h2-font-size)
}




