:root {
    --font-family: 'Poppins', sans-serif;
    --base-font-size: 62.5%;

    /* Colors */
    --background-color: #FBFAF5;
    --title-color: #5E6977;
    --description-color: #43484D;
    --secondary-color: #86939E;
    --button-bg-color: #E1E8EE;
    --box-shadow-color: rgba(0, 0, 0, 0.10);
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    font-size: var(--base-font-size);
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
    background-color: var(--background-color);
    font-family: 'Roboto', sans-serif;
}

.shopping-cart {
    display: inline;
    grid-column: span 8;
    height: auto;
    float: left;
    background: #ffffff;
    box-shadow: 1px 2px 3px 0px var(--box-shadow-color);
    border-radius: 6px;
    position: relative;
}

.checkout_div {
    grid-column: span 4;
    background: #ffffff;
    box-shadow: 1px 2px 3px 0px var(--box-shadow-color);
    border-radius: 6px;
    padding-left: 20px;
    position: relative;
}

.title {
    height: 60px;
    border-bottom: 1px solid #E1E8EE;
    padding: 20px 30px;
    color: var(--title-color);
    font-size: 18px;
    font-weight: 400;
}

.item {
    padding: 20px 30px;
    height: 120px;
    display: flex;
}

.item:nth-child(3) {
    border-top: 1px solid #E1E8EE;
    border-bottom: 1px solid #E1E8EE;
}

.image {
    margin-right: 50px;
    padding-top: 20px;
}

.description {
    padding-top: 10px;
    margin-right: 60px;
    width: 115px;
}

.description span {
    display: block;
    font-size: 14px;
    color: var(--description-color);
    font-weight: 400;
}

.description span:first-child {
    margin-bottom: 5px;
}

.description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: var(--secondary-color);
}

.quantity {
    margin-right: 60px;
}

.quantity input {
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: var(--description-color);
    font-weight: 300;
}

.quantity h1 {
    text-align: center;
    font-size: 16px;
    color: var(--description-color);
    font-weight: 300;
}

button[class*=btn] {
    width: 30px;
    height: 30px;
    background-color: var(--button-bg-color);
    border-radius: 6px;
    border: none;
}

.icons {
    padding-top: 30px;
    padding-left: 40px;
    margin-right: 60px;
}

.delete-btn {
    display: inline-block;
    cursor: pointer;
    width: 18px;
    height: 17px;
    background: no-repeat center;
    padding-left: 20px;
}

.total-price {
    width: 83px;
    padding-top: 27px;
    text-align: center;
    font-size: 16px;
    color: var(--description-color);
    font-weight: 300;
}

.keep_shopping {
    background-color: #ffffff;
    color: #000000;
    font-size: 100%;
    padding: 10px;
    border: none;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px #0000008e;
    align-self: flex-start;
    position: relative;
}

#keep_shopping_div {
    padding-top: 20px;
    padding-left: 30px;
    position: relative;
    padding-bottom: 20px;
}