* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}
.footer-grid-container{
    background-color: #0067B8;
    display: grid;
}

.icon-nav{
    grid-column: 2 / span 4;
    text-align: center;
    display: inline;
}

.icon-nav a{
    display: inline;
    text-decoration: none;
    color: white;
    font-size: 3rem;
    text-align: center;
}

.footer-description{
    display: inline;
    grid-column: 3 / span 2;
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
}