.forgot-password-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 5rem;
}

.forgot-password-flex h2 {
    font-size: 3rem;
}

.forgot-password-flex p {
    font-size: 2rem;
}

.forgot-password-flex input {
    font-size: 1.5rem;
}