nav {
    display: grid;
    padding: 25px;
    grid-template-columns: repeat(6, 1fr);
    font-size: 12rem;
    max-width: 210rem;
}

nav img {
    width: 150px;;
}

.ul1 {
    grid-column: 1/ span 3;
    text-align: center;
    display: inline;
    text-align: center;
}

.ul2 {
    justify-content: flex-end;
    grid-column: 4/ span 3;
    text-align: center;
}

.ul2 li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    vertical-align: middle;
}

.ul2 li a{
    color: #111;
    text-decoration: none;
}

.ul1 li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    vertical-align: middle;
}


.ul1 li a {
    color: #111;
    text-decoration: none;
}

.ul1 li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #111;
    display: block;
    transition: 0.5s;
}

.ul1 li:hover::after {
    width: 100%;
}