* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}

.hero-section{
    display: flex;
    /*width: 150rem;*/
    max-width: 180rem;
    min-height: 90rem;
    padding-top: 12rem;
    justify-content: flex-start;
    padding-left: 12rem;
    margin: auto;
    flex-direction: column;;
}

.hero-title {
    font-size: 12rem;
}

.featured-title{
    margin-top: 8rem;
    font-size: 5rem;
    padding-top: 22rem;
}

@media(max-width: 700px) {
    .text-box h1 {
        font-size: 36px;
    }
    .nav-links{
        position: absolute;
        background-color: rgb(229, 229, 229);
        height: 100vh;
        width: 150px;
        top: 0;
        right: -200;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa {
        display: block;
        color: #111;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 30px;
    }
}

.body div img {
    width: 100%;
    height: auto;
    margin-top: 10%;
  }