@import "global.css";

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
}



#login-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#section {
    color: var(--main-color-black);
    background-color: white;
    text-align: center;
    box-shadow: 0.2rem 0.2rem 1rem 0.2rem #cbcbcb;
    padding-bottom: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
    width: 60rem;
    margin-top: 10rem;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
    align-items: center;
}

h1 {
    margin-top: 3rem;
    font-size: 6rem;
    font-weight: normal;
}

#username-list {
    margin-top: 2rem;
    text-align: left;
}

.loging-text {
    font-size: 2rem;
    font-weight: lighter;
}

.icons {
    font-size: 3rem;
}

.text-bar {
    border: none;
    outline: none;
    font-size: 2rem;
    width: 40rem;
    font-weight: lighter;
}

#password.text-bar {
    width: 36rem;
}

#password-list {
    margin-top: 3rem;
    text-align: left;
}

.line {
    border-bottom: 1px solid #cbcbcb;

}

.list {
    margin-top: 4.5rem;
    text-align: left;
}

#button1 {
    margin-top: 3rem;
    font-size: 3rem;
    color: white;
    background-color: var(--button-blue);
    border: none;
    width: 95%;
    height: 7rem;
    border-radius: var(--button-border-radius);
}

#button1:hover {
    background-color: var(--button-blue-hover);
}

nav {
    margin-top: 2rem;
}

nav a {
    margin-top: 2rem;
    text-decoration: none;
    color: var(--hyperlink-learn-more);
    font-size: 2rem;
    font-weight: lighter;
}

#button2 {
    margin-top: 3rem;
    font-size: 3rem;
    color: var(--color-white);
    background-color: var(--button-black);
    border: none;
    width: 95%;
    height: 7rem;
    border-radius: var(--button-border-radius);
}

#button2:hover {
    background-color: var(--button-black-hover);
}

.button-eye {
    border:none;
    background-color: white;
    font-size: 2.3rem;
}

#footer-text {
    background-color: var(--footer-color-dark-grey);
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    align-items: center;
    padding-bottom: 1.2rem;
    padding-top: 1.2rem;
    font-size: 1.3rem;
}

.alert {
    font-size: 2rem;
    color: var(--alert-color);
    margin-top: 2rem;
}

@media (max-width: 620px) {
    #section {
        width: 35rem;
        margin-top: 2rem;
    }

    #footer-text {
        position: static;
        margin-top: 10rem;
    }

    .text-bar {
        width: 22rem;
    }

    #password.text-bar {
        width: 22rem;
    }
}