@import "global.css";

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
    color: var(--main-color-black);
}

#no-access-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

i {
    font-size: 20rem;
    margin-top: 20rem;
    color: var(--alert-color);
}

h1 {
    font-size: 5rem;
    margin-top: 5rem;
}
p {
    font-size: 2rem;
    margin-top: 1rem;
    width: 30%;
    text-align: center;
    line-height: 3rem;
}

button {
    font-size: 3rem;
    color: white;
    background-color: var(--button-blue);
    border-radius: 5px;
    border: none;
    width: 17rem;
    height: 5rem;
    margin-top: 2rem;
}

button:hover{
    background-color: var(--button-blue-hover);
}