@import "global.css";

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color-grey);
  color: var(--main-color-black);
}

.category-header {
  margin-left: 2rem;
}

#Products-header {
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: var(--h2-font-size);
  font-weight: normal;
  margin-top: 15rem;
  margin-bottom: 7rem;
}

#category-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5rem;
  font-size: 3rem;
}

#category-flex-container a {
  text-decoration: none;
  color: var(--main-color-black);
  padding-right: 3rem;
  padding-bottom: 1rem;
}

#category-flex-container a:hover{
  color: var(--category-hover);
}

#category-flex-container p {
  padding-right: 3rem;
  padding-bottom: 1rem;
}

footer {
  margin-top: 5rem;
}

#productCard {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 1080px) and (min-width: 429px) {
  #Products-header {
    font-size: 7rem;
  }

  #category-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
  }

  #category-flex-container p, #category-flex-container a{
    padding-right: 0;
  }

  #productCard {
    margin: 5rem;
  }
}
  
@media (max-width: 428px) {
  #Products-header {
    font-size: 5rem;
    margin-top: 10rem;
    margin-bottom: 3rem;
  }

  #category-flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }

  #category-flex-container p, #category-flex-container a{
    padding-right: 0;
  }

  #productCard {
    margin: 5rem;
  }

  #Products-flex-container p {
    padding-right: 0;
  }
}  