* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}

 #header-flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px #c5c5c5;
}

#header-flex-container img {
    margin-left: 1rem;
}

#nav-text {
    list-style: none;
    margin-left: 14rem;
}

#nav-text li {
    display: inline-block;
    margin-left: 1.7rem;
}

#nav-text li a {
    text-decoration: none;
    color: black;
    position: relative;
    font-family: Poppins, sans-serif;
}

#nav-text li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    transform: scaleX(0);
}

#nav-text li a:hover::after {
    transform: scalex(1);
    transform-origin: bottom left;
}


#nav-icons {
    list-style: none;
}

#nav-icons li {
    display: inline-block;
}

.search-bar {
    border: 2px solid black;
    display: flex;
    border-radius: 35px;
    height: 2rem;
}

.search-bar__input {
    flex-grow: 1;
    font-size: 1rem;
    padding: 0 1rem;
    border: none;
    background: transparent;
}

.search-bar__input:focus {
    outline: none;
}

.search-bar:focus-within {
    width: 200rem;
}

.search-button {
    font-size: 1rem;
    cursor: pointer;
    border: none;
    background: transparent;
    border-radius: 50rem;
}

#nav-icons li a {
    text-decoration: none;
    color: black;
    font-size: 1.7rem;
    margin: 1rem;
}

#main-title {
    text-align: center;
    font-weight: normal;
    collapse: #000000;
    font-family: Poppins, sans-serif;
    font-size: 7rem;
    margin: 3rem 0rem;
}

/* MAIN START */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.product-card{
    background-color: #f6eeee;
    padding: 10rem;
    margin: 10rem;
    max-width: 50rem;
}

.card-img{
}

.product-name {
    font-family: Poppins, sans-serif;
    font-weight: Bold;
    font-size: 4rem;
    padding: 1rem 0rem;
}

.product-category {
    font-family: Poppins, sans-serif;
    font-weight: lighter;
    font-size: 3rem;
    padding: 1rem 0rem;
}

.products-price {
    font-family: Poppins, sans-serif;
    font-weight: lighter;
    font-size: 2.5rem;
    padding: 1rem 0rem;
}

.products-description{
    font-family: Poppins, sans-serif;
    font-weight: lighter;
    font-size: 2.5rem;
    padding: 1rem 0rem;
    max-width: 60rem;
}

.products-buy {
    font-size: 2rem;
    width: 20rem;
    height: 5rem;
    background-color: #0067b8;
    color: #FFFFFF;
    border: none;
    border-radius: 70px;
    font-family: Poppins, sans-serif;
    margin: auto;
    display: block;
    margin-bottom: 1rem;
}

.product-learn-more {
    font-size: 2rem;
    text-decoration: none;
    color: #0067b8;
}
/* MAIN END */

/* FOOTER START */
footer{
    background-color: #0067B8;
}

.footer-description{
    display: inline;
    grid-column: 4 / span 6;
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 1.3rem;
    padding: 1rem 0rem;
}

footer .footer-nav{
    grid-column: 5 / span 4;
    text-align: center;
}

footer .icon-nav{
    grid-column: 3 / span 8;
    text-align: center;
}

footer .icon-nav a{
    padding: 0px 50px;
    color: white;
    font-size: 25px;
    text-decoration: none;
}
/* FOOTER END */