* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
}

h4, p {
    color: #1d1d1f;
}

body {
    background-color: #f5f5f5;
}

#Product-Title {
    margin-top: 10rem;
}

footer {
    margin-top: 5rem;
}