* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
}

.flex-container {
    padding-top: 10rem;
    padding-bottom: 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-name {
    margin-top: 13rem;
    margin-bottom: 5rem;
    font-size: 7rem;
    text-align: center;
}

.product-description {
    margin-top: 5rem;
    font-size: 2.5rem;
    width: 60%;
    text-align: start;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    margin-top: 4rem;
}

.buy-text {
    margin-top: 5rem;
    grid-row: 1;
    grid-column: 1;
    font-size: 4rem;
}

.product-price {
    grid-row: 2;
    grid-column: 1;
    font-size: 1.5rem;
    margin-left: 20rem;
    margin-top: 1rem;
}

.button-add {
    grid-row: 1 /span 2;
    grid-column: 2;
    font-size: 2.5rem;
    margin-left: 7rem;
    margin-top: 5rem;
    background-color: #0067B8;
    color: white;
    border: none;
    border-radius: 25px;
    width: 30rem;
    height: 5rem;
}
.detail-img{
    margin-top: 2rem;
    width: 300px;
    height: 300px;
}
