@import "global.css";

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color-grey);
}

.flex-container {
    padding-top: 10rem;
    padding-bottom: 10rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    color: var(--main-color-black);
}

.product-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.detail-img{
    margin-top: 3rem;
    width: 150px;
    height: 150px;
}

.product-name {
    margin-top: 7rem;
    margin-left: 4rem;
    font-size: 6rem;
    text-align: center;
    font-weight: normal;
}

.description-title {
    margin-top: 5rem;
    font-size: 4rem;
    font-weight: normal;
    width: 60%;
    text-align: start;
}

.product-description {
    margin-top: 2rem;
    font-size: 2rem;
    line-height: 2.5rem;
    width: 60%;
    text-align: start;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    width: 60%;
}

.buy-text {
    margin-top: 5rem;
    grid-row: 1;
    grid-column: 1;
    font-size: 3rem;
}

.product-price {
    font-size: 3rem;
    width: 60%;
    text-align: start;
    margin-top: 5rem;
}

.button-add {
    grid-row: 1 /span 2;
    grid-column: 2;
    font-size: 2.5rem;
    margin-left: 7rem;
    margin-top: 5rem;
    background-color: var(--button-blue);
    color: white;
    border: none;
    border-radius: 5px;
    width: 30rem;
    height: 5rem;
}

button:hover{
    background-color: var(--button-blue-hover);
}

button:active{
    transform: scale(0.98);
}

@media (max-width: 700px) {
    .flex-container {
        align-items: center;
    }
    .product-name {
        font-size: 4rem;
        text-align: center;
        margin-left: 0;
    }

    .product-header {
        flex-direction: column;
        align-items: center;
    }

    .description-title {
        margin-top: 2rem;
    }

    .product-price {
        margin-top: 4rem;
    }

    .button-add {
        width: 20rem;
        height: 10rem;
        margin-left: 0;
    }

    .buy-text {
        display: none;
    }
    .flex-button {
        display: flex;
        justify-content: center;
    }
}