@import "global.css";

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color-grey);
    color: var(--main-color-black);
}

.Profile-title {
    font-size: 3rem;
    text-align: center;
    margin: 4rem 0;
}

.profile-flex {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    margin: 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.Orders {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    margin: 2rem;
}

.order-history-title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.user-information {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 2rem;
    align-items: center;
}

.user-title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.change-user-title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    margin-top: 4rem;
}

.user-information p {
    display: inline-block;
    font-size: 1.5rem;
    padding-bottom: 2rem;
}

.user-information ul {
    list-style-type: none;
    margin-bottom: 2rem;
}

.user-information ul li {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.user-information ul li label {
    display: inline-block;
    font-size: 1.5rem;
}

.user-information ul li input{
    width: 20rem;
    padding: 0.5rem;
    font-size: 1.6rem;
}

.user-information button {
    background-color: var(--button-blue);
    color: var(--color-white);
    padding: 0.5rem 1rem;
    font-size: 1.6rem;
    border: none;
    border-radius: var(--button-border-radius);;
    cursor: pointer;
    width: 20rem;
}

.user-information button:hover {
    background-color: var(--button-blue-hover);
}

.user-information button:active{
    transform: scale(0.98);
}

@media (max-width: 900px) {
    .profile-flex {
        flex-direction: column;
        padding-top: 0;
    }
    .Profile-title {
        margin-top: 8rem;
    }

    .Orders {
        margin-top: 4rem;
    }

    .user-information {
        margin: 0;
        align-items: center;
    }
}