@import "global.css";

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
}

#logo {
    width: 20rem;
}

#register-flex-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--main-color-black);
}

#section {
    background-color: var(--color-white);
    text-align: center;
    box-shadow: 0.2rem 0.2rem 1rem 0.2rem #cbcbcb;
    padding-bottom: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
    width: 60rem;
    margin-top: 10rem;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
    align-items: center;
}

h1 {
    margin-top: 3rem;
    font-size: 6rem;
    font-weight: normal;
}

.register-text {
    font-size: 2rem;
    font-weight: lighter;
}

.icons {
    font-size: 3rem;
}

.text-bar {
    border: none;
    outline: none;
    font-size: 2rem;
    font-weight: lighter;
}

#text-email-bar {
    width: 40rem;
}

#text-firstname-bar {
    width: 35.5rem;
}

#text-lastname-bar {
    width: 35.5rem;
}

#password-text-bar {
    width: 36rem;
}

#password-confirm-text-bar {
    width: 28rem;
}

#email-list {
    margin-top: 3rem;
    text-align: left;
}

.list {
    margin-top: 4.5rem;
    text-align: left;
}

.line {
    border-bottom: 1px solid #cbcbcb;
}

.button-eye {
    border:none;
    background-color: white;
    font-size: 2.3rem;
}

#button-register {
    margin-top: 3rem;
    font-size: 3rem;
    color: white;
    background-color: var(--button-blue);
    border: none;
    width: 95%;
    height: 7rem;
    border-radius: 5px;
}

#button-register:hover {
    background-color: var(--button-blue-hover);
}

#button-register:active{
    transform: scale(0.98);
}

.error-message {
    margin-top: 2rem;
    font-size: 3rem;
    color: var(--alert-color);
}

#footer-text {
    background-color: var(--footer-color-dark-grey);
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    align-items: center;
    padding-bottom: 1.2rem;
    padding-top: 1.2rem;
    font-size: 1.3rem;
}

@media (max-width: 620px) {
    #section {
        width: 35rem;
        margin-top: 2rem;
    }

    #footer-text {
        position: static;
        margin-top: 10rem;
    }

    #text-email-bar {
        width: 22rem;
    }
    
    #text-firstname-bar {
        width: 22rem;
    }
    
    #text-lastname-bar {
        width: 22rem;
    }
    
    #password-text-bar {
        width: 22rem;
    }
    
    #password-confirm-text-bar {
        width: 22rem;
    }
    
    #email-list {
        margin-top: 3rem;
        text-align: left;
    }
}