
.search-result-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.search-result-headline {
    font-family: Roboto, sans-serif;
    font-size: 8.3rem;
    margin-top: 8rem;
    margin-bottom: 4rem;
    width: 100%;
    color: #1d1d1f;
}

.search-result-nav-flex {
    display: flex;
    flex-direction: row;
    font-size: 5.5rem;
    gap: 1rem;
    transition: gap 0.2s ease-in-out;
    text-decoration: none;
    color: #1d1d1f;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.search-result-nav-flex:hover {
    gap: 3rem;
    text-decoration: underline;
}
