<header th:fragment="header" class="grid-container" xmlns:th="">
  <h1 id="header-title">ProFlex</h1>
      <!-- Middle option navigation bar -->
  <nav class="option-nav">
      <a href="#">Home</a>
      <a href="#">Products</a>
      <a href="#">About</a>
      <form id="search-form">
          <input id="input-text"type="text" placeholder="     Search..." />
          <button id="submit-button" type="submit"><i class="fas fa-search"></i></button>
      </form>
  </nav>
      <!-- Right option icon navigation bar -->
  <nav class="icon-nav">
      <a href="#"><i class="fa-solid fa-cart-flatbed"></i></a>
      <a href="#"><i class="fa-regular fa-heart"></i></a>
      <a href="#"><i class="fa-regular fa-user"></i></a>
  </nav>
</header>