<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>ProFlex</title>
    <link rel="stylesheet" href="Index.css" />
    <link th:href="@{css/Index.css}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <script src="../js/Index.js"></script>
    <script
      src="https://kit.fontawesome.com/0a8856d0a6.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <section class="header">
      <nav>
        <a href="Index"
          ><img src="../images/proflexlogo-removebg-preview.png"
        /></a>
        <div class="nav-links" id="navLinks">
          <i class="fa fa-times" onClick="hideMenu()"></i>
          <ul>
            <div class="ul1">
              <li><a href="Index">HOME</a></li>
              <li><a href="Products.html">PRODUCTS</a></li>
              <li><a href="">ABOUT</a></li>
            </div>
            <div class="ul2">
              <li>
                <form>
                  <label for="search">Search</label>
                  <input id="search" type="search" pattern=".*\S.*" required />
                  <span class="caret"></span>
                </form>
              </li>
              <li>
                <a href="ShoppingCart.html"
                  ><i class="fa-solid fa-cart-flatbed"></i
                ></a>
              </li>
              <li>
                <a href="#"><i class="fa-regular fa-heart"></i></a>
              </li>
              <li>
                <a href="Profile.html"><i class="fa-regular fa-user"></i></a>
              </li>
            </div>
          </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
      </nav>

      <div class="text-box">
        <h1>Innovative IT Solutions which supports your success.</h1>
      </div>
    </section>

    <section class="body">
      <div>
        <img src="../images/Modern-Software-Development.jpg" />
      </div>
    </section>

    <section class="testimonials">
      <div class="row">
        <h3>Stephanie Smith, age 32.</h3>
        <p>
          "Proflex Solutions has enabled us to streamline our operations and
          save time. Their products are easy to use and their customer service
          is top-notch. I would highly recommend them to any business looking to
          improve their workflow and maximize their efficiency."
        </p>
        <h3>Jason White, age 45.</h3>
        <p>
          "We were looking for a reliable and cost-effective solution to our
          business needs and Proflex Solutions delivered. Their products are
          intuitive and user-friendly, and their customer service is always
          helpful and knowledgeable. We are very satisfied with our experience
          with Proflex Solutions."
        </p>
        <h3>Rachel Brown, Age 28</h3>
        <p>
          "Proflex Solutions has been a great partner for our business. They
          have provided us with the tools and resources we need to succeed.
          Their products are reliable and their customer service is top-notch.
          We are very pleased with our experience with ProflexSolutions."
        </p>
      </div>
    </section>

    <footer class="grid">
      <h2 class="Follow-us-on">Follow us on</h2>
      <nav class="footer-nav-flex">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-youtube"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
      </nav>
      <h2 class="Contact-us-on">Contact us on</h2>
      <nav class="icon-nav">
        <a href="#"><i class="fa-solid fa-phone"></i> +47 99 99 99 99</a>
        <a href="#"><i class="fa-solid fa-envelope"></i> email@proflex.com</a>
        <a href="#"
          ><i class="fa-solid fa-location-pin"></i> Larsgårdsvegen 2, 6003
          Ålesund
        </a>
      </nav>
      <h3>
        *This website is a result of a university group project, performed in
        the course IDATA2301 Web technologies, at NTNU.All the information
        provided here is a result of imagination. Any resemblance with real
        companies or products is a coincidence.
      </h3>
    </footer>
  </body>
</html>
