<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>ProFlex</title>
    <link rel="stylesheet" th:href="@{/static/css/index.css}"/> <!-- CSS GENERAL -->
    <link rel="stylesheet" th:href="@{/static/css/header.css}"/> <!-- FRAGMENT CSS -->
    <link rel="stylesheet" th:href="@{/static/css/testimonials.css}"/> <!-- TESTIMONIALS CSS -->
    <link rel="stylesheet" th:href="@{/static/css/footer.css}"/> <!-- FOOTER CSS -->
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <script src="../js/Index.js"></script>
    <script
      src="https://kit.fontawesome.com/0a8856d0a6.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>

    <section th:replace="fragments/header.html :: header"></section>


      <div class="hero-section">
        <h1 class="hero-title">Innovative IT Solutions which supports your success.</h1>
<!--        <img class="hero-picture" src="/static/images/hero-picture-low-res.png">-->
      </div>


    <section th:replace="fragments/testimonials.html :: testimonials"></section>


    <footer th:replace="fragments/footer.html :: footer"></footer>

  </body>
</html>
