<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{static/css/login.css}">
    <script src="../static/js/Login.js"></script>
    <script src="https://kit.fontawesome.com/0a8856d0a6.js" crossorigin="anonymous"></script>
</head>
<body>
<main>
    <form method="post" th:action="@{/login}">
        <img id="logo-image" src="../static/images/proflexlogo2.png">
        <div id="login-flex-container">
            <section id="section">
                <h1>Login</h1>
                <ul id="username-list">
                    <li class="icons"><i class="fa-solid fa-user"></i></li>
                    <li class="loging-text">Email:</li>
                    <li><input type="text" id="username" name="username" placeholder="Username" class="text-bar"></li>
                </ul>
                <div class="line"></div>
                <ul id="password-list">
                    <li class="icons"><i class="fa-sharp fa-solid fa-key"></i></li>
                    <li class="loging-text">Password: </li>
                    <li><input type="password" id="password" name="password" placeholder="Password" class="text-bar"></li>
                    <li><button class="button-eye" id="password-button-eye" onclick="showPassword()" type="button"><i class="fa-regular fa-eye-slash"></i></button></li>
                </ul>
                <div class="line"></div>
                <p th:if="${param.error}" class="alert">Invalid username or password</p>
                <button id="button1" type="submit">Login</button>
                <nav><a href="#">Forgot Your Password. Click Here To Reset</a></nav>
                <button id="button2" onclick="redirectToSignUpForm()" type="button">Register New Account</button>
            </section>
        </div>
    </form>
    <p id="footer-text">*This website is a result of a university group project, performed in the course
        IDATA2301 Web technologies, at NTNU.All the information provided here is a result
        of imagination. Any resemblance with real companies or products is a coincidence</p>
</main>
</body>
</html>