<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="The page you're trying to access has restricted access. Please go to the home page or browse another page."
    />
    <meta
      name="keywords"
      content="ProFlex, IT solutions, NTNU, technology, software, business solutions, operational efficiency, productivity, innovation, reliability, competition, workflows, cost reduction, customer satisfaction"
    />
    <meta name="author" content="Group 11" />
    <title>No access</title>
    <link rel="stylesheet" th:href="@{static/css/no-access.css}" />
    <script
      src="https://kit.fontawesome.com/0a8856d0a6.js"
      crossorigin="anonymous"
    ></script>
    <script src="../static/js/no-access.js"></script>
  </head>
  <body>
    <div id="no-access-flex-container">
      <i class="fa-solid fa-circle-xmark"></i>
      <h1>We are Sorry...</h1>
      <p>
        The page you're trying to access has restricted access. Please go to the
        home page, or browse another page.
      </p>
      <button type="button" onclick="goBackToLastPage()">Go Back</button>
    </div>
  </body>
</html>
