<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" th:href="@{/static/css/header.css}"> <!-- CSS FRAGMENT -->
  <link rel="stylesheet" th:href="@{/static/css/Products2.css}"/> <!-- CSS GENERAL -->
  <link rel="stylesheet" href="/static/css/Products2.css"> <!-- CSS LIVE VIEWER -->
  <script src="../js/SearchBar.js"></script>
  <link
          rel="stylesheet"
          href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css.min.css"
          integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+N1B+0ev/YKQ="
          crossorigin="anonymous">
  <script
          src="https://kit.fontawesome.com/0a8856d0a6.js"
          crossorigin="anonymous"
  ></script>
</head>
<body>

  <header th:replace="fragments/header.html :: header"></header> <!-- HEADER FRAGMENT -->

  <main th:replace="fragments/product-card.html :: product-card"></main>

  <div th:each="product : ${products}">
    <div th:replace="fragments/product-card :: product-card(product=${product})"></div>
  </div>

  1. put data inside db
  2. fetch data from db using js

  <footer th:replace="fragments/footer.html :: footer"> </footer>
</body>
</html>