<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Productdetails</title>
    <link rel="stylesheet" th:href="@{/static/css/fragments/header.css}">
    <link rel="stylesheet" th:href="@{/static/css/fragments/footer.css}">
    <link rel="stylesheet" th:href="@{/static/css/product-details.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>


<header th:replace="fragments/header.html" :: header></header>


<!-- UNIVERSAL -->

<main class="flex-container">
    <div class="product-card">
        <h4 class="product-name" th:text="${products.name}"></h4>
        <p class="product-category"></p>
        <p class="products-price" th:text="${products.price}">kr</p>
        <p class="products-description" th:text="${products.description}"></p>
        <button class="products-buy">Buy</button>
        <a class="product-learn-more">Learn more</a>
    </div>
</main>


<footer th:replace="fragments/footer.html :: footer"></footer>

</body>
</html>