<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
  <link rel="stylesheet" th:href="@{/static/css/header.css}"> <!-- FOR CSS FRAGMENT -->
  <link rel="stylesheet" th:href="@{/static/css/Products2.css}"/> <!-- FOR CSS GENERAL -->
  <link rel="stylesheet" href="/static/css/Products2.css"> <!-- FOR CSS LIVE VIEWER -->
  <script src="../js/SearchBar.js"></script>
  <link
          rel="stylesheet"
          href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css.min.css"
          integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+N1B+0ev/YKQ="
          crossorigin="anonymous">
  <script
          src="https://kit.fontawesome.com/0a8856d0a6.js"
          crossorigin="anonymous"
  ></script>
</head>
<body>

  <header th:replace="fragments/header.html :: header"></header>


  <main th:replace="fragments/product-card :: product-card"></main>


  <footer th:replace="fragments/footer.html :: footer"> </footer>
</body>
</html>