<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Productdetails</title>
    <link rel="stylesheet" th:href="@{/static/css/fragments/header.css}">
    <link rel="stylesheet" th:href="@{/static/css/fragments/footer.css}">
    <link rel="stylesheet" th:href="@{/static/css/product-details.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" /> <!-- ICON PACK -->
</head>
<body>
<header th:replace="~{fragments/header.html :: header}"></header>
<main class="flex-container">
    <h1 class="product-name" th:text="${products.name}"></h1>
    <p class="products-categories" th:each="category : ${products.categories}" th:utext="${category.cname} + (${categoryStat.last}? '' : ', ')"></p>
    <img class="detail-img" th:src="${products.image}" width="1000" height="200"/>
    <p class="product-description" th:text="${products.description}"></p>
    <div class="grid-container">
        <p class="buy-text" th:text="'Buy ' + ${products.name}"></p>
        <p class="product-price" th:text="'From ' + ${products.price} + 'kr'"></p>
        <div>
            <button type="submit" class="button-add">Add To Cart</button>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/footer.html :: footer}"></footer>
</body>
</html>