<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="../static/Register.css">
  <link rel="stylesheet" th:href="@{static/css/register.css}">
  <script src="../static/js/Register.js"></script>
  <script src="https://kit.fontawesome.com/0a8856d0a6.js" crossorigin="anonymous"></script>
</head>
<body>
<img id="logo" src="../static/images/proflexlogo2.png">
  <div id="register-flex-conteiner">
    <section id="section">
      <h1>Register</h1>
      <form th:action="@{/register}" method="post" th:object="${user}">
        <ul id="email-list">
          <li class="icons"><i class="fa-solid fa-envelope"></i></li>
          <li class="register-text">Email:</li>
          <li><input type="text" class="text-bar" id="text-email-bar" th:field="*{email}" required></li>
        </ul>
        <div class="line"></div>
        <ul class="list">
          <li class="icons"><i class="fa-solid fa-user"></i></li>
          <li class="register-text">First Name:</li>
          <li><input type="text" class="text-bar" id="text-firstname-bar" th:field="*{firstName}" required></li>
        </ul>
        <div class="line"></div>
        <ul class="list">
          <li class="icons"><i class="fa-solid fa-user"></i></li>
          <li class="register-text">Last Name:</li>
          <li><input type="text" class="text-bar" id="text-lastname-bar" th:field="*{lastName}" required></li>
        </ul>
        <div class="line"></div>
        <ul class="list">
          <li class="icons"><i class="fa-sharp fa-solid fa-key"></i></li>
          <li class="register-text">Password:</li>
          <li><input type="password" class="text-bar" id="password-text-bar" th:field="*{pass}" required></li>
          <li><button class="button-eye" id="password-button-eye" onclick="showPassword()" type="button"><i class="fa-regular fa-eye-slash"></i></button></li>
        </ul>
        <div class="line"></div>
        <ul class="list">
          <li class="icons"><i class="fa-sharp fa-solid fa-key"></i></li>
          <li class="register-text">Confirm Password:</li>
          <li><input type="password" class="text-bar" id="password-confirm-text-bar"></li>
          <li><button class="button-eye" id="password-confirm-button-eye" onclick="showConfirmPassword()" type="button"><i class="fa-regular fa-eye-slash"></i></button></li>
        </ul>
        <div class="line"></div>
        <div th:if="${errorMessage}" class="error-message">
          <p th:text="${errorMessage}"></p>
        </div>
        <button id="button-register" type="submit">Register</button>
      </form>
    </section>
  </div>
  <p id="footer-text">*This website is a result of a university group project, performed in the course
    IDATA2301 Web technologies, at NTNU.All the information provided here is a result
    of imagination. Any resemblance with real companies or products is a coincidence</p>
</body>
</html>